.menu {
  display: flex;
  padding: 24px 0;
}

.menuList {
  padding-top: 12px;
  margin-right: 12px;
  width: 182px;
  border-radius: 6px;
  background-color: #fff;
  position: relative;
}

.menu li {
  padding: 5px 12px 5px 24px;
}

.carousel {
  width: 740px;
  margin-top: 2px;
}

.carousel img {
  width: 740px;
  height: 392px;
}

.listItem {
  display: flex;

  width: 740px;
  height: 400px;
  background-color: #fff;
  padding: 24px 0 24px 24px;
}

.listItemBox {
  position: absolute;
  left: 194px;
  top: 0;
  display: none;
  width: 740px;
  height: 400px;
  z-index: 100;
}

.listItem-left {
  width: 490px;
}

.listItem-right img {
  width: 80px;
  height: 96px;
  margin: 12px;
}

.listItem span {
  cursor: pointer;
}