.cert-guessLike{

    display: flex;
    width: 840px;
    margin: 24px auto 0;
}
.cert-guessLike h2{
    color:#ffd700;
    margin-right: 20px;
}
.cert-guessLike h5{
    word-break: break-all;
    height: 72px;
}
.cert-guessLike div{
    border: 2px dashed #eee;
    padding: 24px;
    background-color: #fff;
}
.cert-guessLike div p{
    color:#ff0000;
    text-align: center;
    margin: 0;
}
.cert-guessLike div:hover{
    border: 2px solid #ffd700;
}