.newsPage { background-color: #f5f5f5; margin-bottom: 24px; }
.newsPage .title {
  padding: 12px 0;
  background-color: #ffd700;
  font-weight: bold;
}
.newsPage .title span { color: #fff; }
.newsPage .ant-tabs-tab {
  margin-left: 24px !important;
  margin-right: 24px !important;
}
.newsPage .newsPageList {
  width: 810px;
  padding-bottom: 24px;
  background-color: #fff;
}
.newsPage .newsPageList .ant-list-item {
  cursor: pointer;
  align-items: initial;
  padding: 24px;
}
.newsPage .newsPageList .ant-list-item:hover h3 { color: #ff6347; }
.newsPage .newsRanking {
  width: 330px;
  height: 870px;
  background-color: #fff;
  padding: 24px;
}
.newsPage .newsRanking .rankingTitle {
  background: #ffd700;
  color: #fff;
  font-weight: bold;
  width: 282px;
  text-align: center;
  font-size: 40px;
}
.newsPage .newsRanking .newsRankingItem { cursor: pointer; margin-bottom: 24px; }
.newsPage .newsRanking .newsRankingItem p { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.newsPage .newsRanking .newsRankingItem:hover h4 { color: #ff6347; }
